# Install pandas library

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Import pandas

In [ ]:
import pandas as pd

# Demo dataframe setup

In [ ]:
# Create a dictionary to store the data we will generate the dataframe from
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

# create the dataframe variable and generate it using pandas dataframe function
df = pd.DataFrame(data)

# print dataframe
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

# Upload csv file

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving student.csv to student.csv

# Create a dataframe from the csv file

In [ ]:
dataframe = pd.read_csv('student.csv')
dataframe

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78     NaN
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

# Subsetting the dataframe

In [ ]:
# Select a singular column
dataframe['gender']

# Select multiple columns
dataframe[['name','gender','class']]

           name  gender  class
0      John Deo  female   Four
1      Max Ruin    male  Three
2        Arnold    male  Three
3    Krish Star  female   Four
4     John Mike  female   Four
5     Alex John    male   Four
6   My John Rob    male  Fifth
7        Asruid    male   Five
8       Tes Qry     NaN    Six
9      Big John  female   Four
10       Ronald  female    Six
11        Recky  female    Six
12          Kty  female  Seven
13         Bigy  female  Seven
14     Tade Row    male    NaN
15        Gimmy    male   Four
16        Tumyu    male    Six
17        Honny    male   Five
18        Tinny    male   Nine
19       Jackly  female   Nine
20   Babby John  female   Four
21       Reggid  female  Seven
22        Herod    male  Eight
23    Tiddy Now    male  Seven
24     Giff Tow    male  Seven
25       Crelea    male  Seven
26          NaN     NaN  Three
27    Rojj Base  female  Seven
28  Tess Played    male  Seven
29    Reppy Red  female    Six
30  Marry Toeey    male   Four
31    Binn Rott  female  Seven
32    Kenn Rein  female    Six
33     Gain Toe    male  Seven
34   Rows Noump  female    Six

Locating data

In [ ]:
# head() will by default return the first 5 rows - we can pass a number as an argument
# dataframe.head()

# We can create variable to score the iloc (location) of a particular row of data
#row_2_data = dataframe.iloc[1]
#row_2_data

# Selecting dat afrom our dataframe - using a slice to selct which rows we want and which coloums
# REMEMBER SLICES are NOT endpoint inclusive, so 0:2 will pull rows 0 and 1
subset_dataframe = dataframe.iloc[0:2, 1:2]
subset_data

NameError: name 'subset_data' is not defined

# Filter the Dataframe

In [ ]:
# Filter based or a single criteria
#dataframe[dataframe['mark']>70]

# Filter based on astring value - NOTE with this string would need to be an exact match
#dataframe[dataframe['name'] == 'Max Ruin']

# Filter based on 2 criteria (this & this)
#dataframe[(dataframe['mark'] > 60) & (dataframe['mark'] < 80)]

# Filter based on 2 criteria (this or this)
#dataframe[(dataframe['mark'] < 60) | (dataframe['mark'] > 80)]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

# Inspecting a dataframe

In [ ]:
# First 5 rows or specified amount of rows from the top
#dataframe.head()
#dataframe.head(10)

# Last 5 rows or specified amount of rows in the bottom
#dataframe.tail()
#dataframe.tail(10)

# Check the dimensions of our dataframe - (35 is rows, 5 is colums. (35, 5))
#dataframe.shape

# Check for missing values
#dataframe.isnull().sum()

# Check for missing values - totals
#dataframe.isnull().sum().sum()

# Data types columns
#dataframe.dtypes

# Information on df - data types, non-null etc
#dataframe.info()

# Columns names in dataframe
#dataframe.colums

# Renaming a column
#dataframe.rename(columns={'class': 'group'}, inplace=True)
#dataframe.columns

# Dropping all rows that have null values
#dataframe.dropna()

# Count unique values in a column
#dataframe['gender'].value_counts()

gender
male      17
female    16
Name: count, dtype: int64

# Summary functions

In [ ]:
# Summary stats
#dataframe.describe()

# Mean - if you are looking to specify by column, follow "dataframe" / "df" with a column ['name']
dataframe['id'].mean()

np.float64(18.0)

Day 3: Task 1

Using the student.csv which can be downloaded here, complete the below exercises as a group and paste your input and output. Although this is a group activity, everyone should have the below answered so it supports your portfolio:

Exercise 1: Loading and Exploring the Data

Question 1: "Write the code to read a CSV file into a Pandas DataFrame."

Question 2: "Write the code to display the first 5 rows of the DataFrame."

Question 3: "Write the code to get the information about the DataFrame."

Question 4: "Write the code to get summary statistics for the DataFrame."

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving student.csv to student (1).csv

In [ ]:
# Display first 5 rows
dataframe.head()

   id        name  group  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [ ]:
# Display basic info about the DataFrame
# Display info about the DataFrame
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   group   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB
None

In [ ]:
# Display statistical summary of numerical columns
# Display summary statistics
print(dataframe.describe())

              id       mark
count  35.000000  35.000000
mean   18.000000  74.657143
std    10.246951  16.401117
min     1.000000  18.000000
25%     9.500000  62.500000
50%    18.000000  79.000000
75%    26.500000  88.000000
max    35.000000  96.000000

EX 2

In [ ]:
# Select the 'name' column
dataframe['name']

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [ ]:
# Select the 'name' and 'mark' columns
dataframe[['name', 'mark']]

           name  mark
0      John Deo    75
1      Max Ruin    85
2        Arnold    55
3    Krish Star    60
4     John Mike    60
5     Alex John    55
6   My John Rob    78
7        Asruid    85
8       Tes Qry    78
9      Big John    55
10       Ronald    89
11        Recky    94
12          Kty    88
13         Bigy    88
14     Tade Row    88
15        Gimmy    88
16        Tumyu    54
17        Honny    75
18        Tinny    18
19       Jackly    65
20   Babby John    69
21       Reggid    55
22        Herod    79
23    Tiddy Now    78
24     Giff Tow    88
25       Crelea    79
26          NaN    81
27    Rojj Base    86
28  Tess Played    55
29    Reppy Red    79
30  Marry Toeey    88
31    Binn Rott    90
32    Kenn Rein    96
33     Gain Toe    69
34   Rows Noump    88

In [ ]:
# Select the first 3 rows
dataframe.head(3)

   id      name  group  mark  gender
0   1  John Deo   Four    75  female
1   2  Max Ruin  Three    85    male
2   3    Arnold  Three    55    male

In [ ]:
# Select all rows where 'class' is 'Four'
dataframe[dataframe['class'] == 'Four']

KeyError: 'class'

# EX 3

In [ ]:
# Add a new column 'passed'
dataframe['passed'] = dataframe['mark'] >= 60

KeyError: 'mark'

In [ ]:
# Rename the column
dataframe.rename(columns={'mark': 'score'}, inplace=True)

In [ ]:
# Drop the 'passed' column
dataframe.drop(columns=['passed'], inplace=True)

# EX 4

In [ ]:
# Group by 'class' and calculate mean 'mark'
mean_marks_by_class = dataframe.groupby('class')['mark'].mean()
print(mean_marks_by_class)

KeyError: 'class'

In [ ]:
# Count number of students in each class
dataframe['class'].value_counts()

class
Seven    10
Four      8
Six       7
Three     3
Nine      2
Five      2
Fifth     1
Eight     1
Name: count, dtype: int64

In [ ]:
# Group by 'gender' and calculate the mean 'mark'
average_mark_by_gender = df.groupby('gender')['mark'].mean()
print(average_mark_by_gender)

KeyError: 'Column not found: mark'

# EX 5

In [ ]:
# Create a pivot table
pd.pivot_table(dataframe, values='mark', index='class', columns='gender', aggfunc='mean')

KeyError: 'class'

In [ ]:
# Create a new 'grade' column using conditions
df['grade'] = pd.cut(
    df['mark'],
    bins=[0, 59, 69, 84, 100],
    labels=['D', 'C', 'B', 'A']
)

KeyError: 'mark'

In [ ]:
# Sort by 'mark' in descending order
df.sort_values(by='mark', ascending=False, inplace=True)

KeyError: 'mark'

# EX 6

In [ ]:
# Save the updated DataFrame to a new CSV file
df.to_csv('student_with_grades.csv', index=False)

# EX 7