#**Code for checking python version**

In [ ]:
!python --version

Python 3.12.12

#**Printing hello world**

In [ ]:
# Double quotes
print("Hello World!")

# Single quotes
print('Hello World!') #Both types of quote marks are valid but make sure you stay consitent with one type

Hello World!
Hello World!

#**Data types in Python**

In [ ]:
print("String") # A string is any text between 2 quotes
print(11) # An integer is a whole number
print(1.5) # A float (floating point) a number to decimals places
print(True) # A boolean is a True or False value  - Always with a capital T or F

# Be mindful you may encounter numeric values in quotes which are technically considered strings
print(100)
print("100")

String
11
1.5
True
100
100

#**Escape Characters**

In [ ]:
# New line escape character example:
print("The itsy bitsy spider \nclibmed up the water spout")
print()
print("Down came the rain \nand washed the spider out")

The itsy bitsy spider
clibmed up the water spout

down came the rain
and washed the spider out

# **Printing multiple arguments**

In [ ]:
# Seperating arguments
print("The itsy bitsy spider" , "climbed up" , "the waterspout")

print()

#Concatenation
print("The itsy bitsy spider " + "climbed up " + "the waterspout")
print()
print("The itsy bitsy spider " + "climbed up " + "the waterspout")
print()
print("The itsy bitsy spider" + " " + "climbed up" + " " + "the waterspout")

The itsy bitsy spider climbed up the waterspout

The itsy bitsy spider climbed up the waterspout

The itsy bitsy spider climbed up the waterspout

The itsy bitsy spider climbed up the waterspout

# **Algorithm - Add 2 numbers**

In [ ]:
# Declaring a variable
num1 = 5
num2 = 10
sum = num1 + num2
print(sum)

15

# **Arithmetic operators**

In [ ]:
print(5+5) # addition
print(10-5) # subtraction
print(5*5) # multiplication
print(100/10) # division
print(13%6) # modulus (remainder operator)

10
5
25
10.0
1

In [ ]:
print(30+5+56+89+95885+5+6595733+123456789)
print(30-5-400)
print(30*5*67*45*6666666*345)
print(30/5/6/8/9/3/4/4)
print(30%5%6%7%234%45)
print(30//5//45//43//23)

130148592
-375
1040174895982500
0.00028935185185185184
0
0

# **Variables**

In [ ]:
# variable names are dictated by you and can be updated to store a new value if needed

name = "Mohammed"
print(name)

Mohammed

In [ ]:
my_age = 33
your_age = 30
my_age = your_age
print(my_age)

30

#**Variables task solution**

In [ ]:
# Declare my_name variable
myName = "Mohammed"

# Print the variable
print(myName)

#print type of variable
print(type(myName))

#print length of string
print(len(myName))

Mohammed
<class 'str'>
8

# **Best practice for variables**

In [ ]:
# Python variables are usually written in snake_case when more than 1 word
# Should also be written in lower case
example_variable = "snake_case"

# We also have camelCase varibales
example_variable2 = "camelCase"

# If you ever encounter a variable written in all caps DO NOT update / overwrite its value
# This just a practice in python due to no in-built constant variables
PASSWORD = "12345678"

# **Python, Input and Type Casting Task**

In [ ]:
# Ask the user for the prices of two items
item1 = input("Enter the price of item 1: ")
item2 = input("Enter the price of item 2: ")

# The input() function returns strings, so we need to convert them to numbers
# We'll use float() since prices can include decimals
price1 = float(item1)
price2 = float(item2)

# Calculate the total
total = price1 + price2

# Display the total bill
print("Total:", total)

#print(f"Total: {total:.2f}")
print(f"The total bill price is: £ {total}0")

my_Name = "Mohammed"
print(f"My name is {my_Name}")

Enter the price of item 1: 2
Enter the price of item 2: 3
Total: 5.0
The total bill price is: £ 5.00
My name is Mohammed